# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore common file formats
*.log          # Log files
*.tmp          # Temporary files
*.bak          # Backup files
*.swp          # Swap files
*.DS_Store     # macOS Finder files
*.exe          # Executable files
*.so           # Shared libraries
*.zip          # Compressed files
*.tar          # Tarball files
*.tar.gz       # Gzipped tarballs
*.tgz          # Gzipped tarballs
*.rar          # RAR files
*.7z           # 7-Zip files

